// Font stacks
$font-stack-one: 'Inter', sans-serif;

$font-stack-three: 'Roboto Mono', monospace;
$code-font: 'Menlo', 'Roboto Mono', 'Roboto';

// Spacing and Sizes
$base-font-size: 1.2em;
$base-line-height: 1.5;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$max-width: 800px;

$break-small: 480px;
$break-medium: 700px;
$break-large: 980px;

$big-circle-size: 30px;
$footer-size: 230px;
$about-image-size: 100px;

// Colors
$accent-color: #2b282a		;
$bg-color: 	#bcd6e8; //#a0d3eb (baby blue) #fadadd (baby pink)
$underline-color:#979ca6;
$light-color: #D8DEE9;
$medium-gray-color: #43515e;
$light-gray-color: #4c566a;
$git-black-color: #333333;
$well-color: #f7f7f7;

/* Solarized Colors */
$sol-base1: #93a1a1;
