// Font stacks
$font-stack-one: 'Inter', sans-serif;

$font-stack-three: 'Roboto Mono', monospace;
$code-font: 'Menlo', 'Roboto Mono', 'Roboto';

// Spacing and Sizes
$base-font-size: 1.2em;
$base-line-height: 1.5;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$max-width: 800px;

$break-small: 480px;
$break-medium: 700px;
$break-large: 980px;

$big-circle-size: 30px;
$footer-size: 70px;
$about-image-size: 100px;

// Colors
$accent-color: #feb32b;
$bg-color:#0c1221;// #e6e7ed
$text-color: #F9EAE1;
$secondary-color: #e85154;
$underline-color:#979ca6;
$light-color: #F9EAE1;
$medium-gray-color: #F9EAE1;
$light-gray-color: #F9EAE1;
$git-black-color: #333333;
$well-color: #F9EAE1;

/* Solarized Colors */
$sol-base1: #93a1a1;
